/* Title */
.title h1 {
	max-width: 100%;
	margin: 8vh auto;
	text-align: center;
	color: white;
	font-size: clamp(2.8vh, 3.6vh, 4.3vh);
}

/* White Background */
.content-wrapper {
	background-color: #fffbfb;
	min-height: 100vh;
	width: 100vw;
	overflow-y: auto;
}

.filters-and-products {
	display: flex;
	padding: 2vw;
	align-items: flex-start;
	gap: 2vh;
}

/* Container for Keywords */
.filters {
	background-color: white;
	padding-bottom: 0.5vw;
	padding-left: 2vw;
	padding-right: 2vw;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filters h3,
.filters h4 {
	margin-bottom: 1vw;
	padding-top: 0.8vw;
	font-size: clamp(1.6vh, 2vh, 2.4vh);
	color: #333;
}

.filters label {
	font-size: clamp(1.4vh, 1.6vh, 1.8vh);
	display: block;
	margin-bottom: 0.5vw;
}

.filters p {
	font-size: clamp(1.4vh, 1.6vh, 1.8vh);
	color: #808080;
	text-indent: 1.69vw;
}

input[type="checkbox"],
input[type="range"] {
	accent-color: #e00000;
}

input[type="checkbox"] {
	width: 7%;
}

/* Price Slider */
.slider {
	height: 5px;
	border-radius: 5px;
	background: #ddd;
	width: 85%;
	position: relative;
}

.slider .progress {
	height: 5px;
	background: #e00000;
	border-radius: 5px;
	position: absolute;
}

.range-input {
	position: relative;
}

.range-input input {
	position: absolute;
	top: -8px;
	height: 5px;
	width: 90%;
	background: none;
	-webkit-appearance: none;
	pointer-events: none;
	appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
	height: 15px;
	width: 15px;
	border-radius: 100%;
	background: #e00000;
	pointer-events: auto;
	-webkit-appearance: none;
	appearance: none;
}

/* When clicking on Keywords (Tags) */
.tag {
	width: fit-content;
	padding: 0.5vw 1vw;
	margin-bottom: 0.5vw;
	background-color: #f2f0ef;
	border-radius: 10px;
	font-size: clamp(1.4vh, 1.6vh, 1.8vh);
	color: black;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, transform 0.2s ease;
}

.tag:hover {
	background-color: #e00000;
	color: white;
	transform: scale(1.1);
}

.tag.active {
	background-color: #e00000;
	color: white;
}

.tag .close {
	margin-left: 0.5vw;
	font-size: clamp(1.6vh, 1.8vh, 2.1vh);
	cursor: pointer;
	color: #e00000;
}

.tag .close:hover {
	color: white;
}

/* Search and Sorting */
.search-and-sorting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 1.5vw 2vw;
	box-sizing: border-box;
	max-width: 100%;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	background-color: white;
}

/* Search Container */
.search {
	display: flex;
	align-items: center;
	position: relative;
}

#search-input {
	padding: 0.5vw;
	width: 21vw;
	border: 1px solid #ccc;
	border-radius: 30px;
	background-color: #fffbfb;
	padding-right: 2.5vw;
}

.search button {
	background: none;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 0.5vw;
}

.search img {
	width: 1.5vw;
	padding-top: 0.2vw;
	margin: 0;
}

/* Button styles for the flex container */
.flex-container button {
	background-color: #f2f0ef;
	color: black;
	padding: 0.5vw 0.5vw;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: clamp(1.6vh, 1.8vh, 2.1vh);
	transition: background-color 0.3s, color 0.3s, transform 0.2s ease;
}

/* Hover effect for buttons */
.flex-container button:hover {
	background-color: #e00000;
	color: white;
	transform: scale(1.1);
}

/* Active effect when clicked */
.flex-container button.active {
	background-color: #e00000;
	color: white;
}

.flex-container button.active::after {
	content: " ✓";
	font-size: clamp(1.6vh, 1.8vh, 2.1vh);
	margin-left: 0.5vw;
}

/* Items Containers */
.items-container-wrapper,
.bigItems-container-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 2vh;
	margin-top: 2vh;
	padding-left: 2vw;
}

.items-container {
	background-color: transparent;
	border: 0.1vh solid #d3d3d3;
	border-radius: 0.7vh;
	height: 20vh;
	width: 20vh;
}

.bigItems-container {
	background-color: transparent;
	border: 0.1vh solid #d3d3d3;
	border-radius: 0.7vh;
	height: 42.2vh;
	width: 42.2vh;
}
